<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.generator.mapper.TUserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.web.generator.dao.TUserRole">
        <id column="id" property="id" />
        <result column="user_uid" property="userUid" />
        <result column="role_uid" property="roleUid" />
        <result column="is_remove" property="isRemove" />
        <result column="create_name" property="createName" />
        <result column="create_date" property="createDate" />
        <result column="update_name" property="updateName" />
        <result column="update_date" property="updateDate" />
    </resultMap>

</mapper>
